<div class="container mx-auto my-24">
<div class="flex justify-center">
  <%= form_tag root_path, method: :get do %>
    <%= select_tag(:ltv, options_for_select([["60%", 60], ["70%", 70], ["80%", 80]]), class:"border border-teal-400 p-2") %>
    <%= select_tag(:duration, options_for_select([[1], [3], [5], [7], [10]]), class:"border border-teal-400 p-2") %>
    <%= submit_tag "Search", class: "bg-teal-400 text-gray-100 p-2 hover:bg-teal-700 cursor-pointer" %>
  <% end %>
</div>
</div>


<div class="container px-56 mx-auto">
  <% @mortgages.each do |mortgage| %>

    <div class="flex shadow-lg rounded-lg mx-4 md:mx-auto my-24 justify-between h-32">
      <div class="m-5 flex flex-col justify-content">
        <%= image_tag "lenders/#{mortgage.lender.name}", size: "150x200" %>
      </div>
      <div class="flex">
        <span class="text-3xl mx-8 mt-8"><%= mortgage.ltv.to_i %>%</span>
        <div class="flex flex-col mx-8 mt-8">
          <span class="text-3xl"><%= mortgage.interest %>%</span>
          <span class="text-sm "><%= mortgage.duration %> years</span>
        </div>
      </div>
    </div>

  <% end %>
</div>
